{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "OracleConnectionString": "User Id=trocopoints;Password=SUA_SENHA_AQUI;Data Source=localhost:1521/XEPDB1;"
  },
  "RabbitMq": {
    "HostName": "localhost",
    "Port": 5672,
    "UserName": "trocopoints",
    "Password": "SUA_SENHA_AQUI",
    "Exchange": "trocopoints.transacoes",
    "RetryExchange": "trocopoints.transacoes.retry",
    "DeadLetterExchange": "trocopoints.transacoes.dlx",
    "Queue": "transacao.recebida.queue",
    "RetryQueue": "transacao.recebida.retry.queue",
    "DeadLetterQueue": "transacao.recebida.dlq",
    "RoutingKey": "transacao.recebida",
    "RetryTtlMilliseconds": 30000,
    "MaxTentativas": 5
  },
  "MongoDb": {
    "ConnectionString": "mongodb://trocopoints:SUA_SENHA_AQUI@localhost:27017/?authSource=admin",
    "DatabaseName": "trocopoints",
    "AuditoriaCollectionName": "auditoria_transacoes"
  },
  "OpenTelemetry": {
    "JaegerOtlpEndpoint": "http://localhost:4317"
  }
}
